<div class="c">
  <div class="c-bg"></div>
    <div class="container">
      <div class="c-wrapper">
        <div class="c-left">
          <h1 class="c-title">Contact Me!!</h1>
          <div class="c-info">
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
              +91 904836427
            </div>
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
                nandanavijayan5@gmail.com
            </div>
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
              Calicut, Kerala
            </div>
          </div>
        </div>
        <div class="c-right">
          
          <form>
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="subject" id="subject" placeholder="Subject">
            <input type="email" name="email" id="email" placeholder="Email">
            <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
    </div>
 

    <footer class="footer">
      <div class="container text-center">
          <a class="cc-facebook btn btn-link" href="https://www.facebook.com" target="_blank">
              <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
          </a>
          <a class="cc-instagram btn btn-link" href="https://www.instagram.com" target="_blank">
              <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
          </a>
          <a class="cc-twitter btn btn-link " href="https://twitter.com" target="_blank">
              <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
          </a>
          <a class="cc-github btn btn-link " href="https://github.com" target="_blank">
              <i class="fa fa-github fa-2x " aria-hidden="true"></i>
          </a>
      </div>
      <!-- <div class="text-center text-muted">
          <p>&copy; All rights reserved.</p>
      </div> -->
  </footer>
  