<div class="about">
  <div class="about-left">
    <div class="about-card bg"></div>
    <div class="about-card">
      <img src="https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1797165/1360/906/m1/fpnw/wm1/pm9odq9u5yfaknllifxgn0gdzylf55d5abzvvelzwfga3ted8gzyzueiwvlc9ejn-.jpg?1477321717&s=13947b39cbcc66337495e0ce702cc566" alt="Image" class="a-img">
    </div>
  </div>
  <div class="about-right">
    <h1 class="about-title">About Me</h1>
    <br>
    <li><ol>Btech-Electronics and communication Engineering(2015)</ol>
    
    <ol>Software developer in KELTRON</ol>
    <ol>Web Designer(WordPress)</ol></li>
    
    <p class="about-desc">Full Stack Developer</p>
    <div class="about-award">
     
    </div>
  </div>
</div>