.p {
  width: 300px;
  height: 40vh;
  margin: 20px;
  border: 1px solid rgb(226, 193, 193);
  border-radius: 10px 10px 0 0;
  overflow: hidden; 
}

.p-browser {
  height: 20px;
  background-color: rgb(226, 193, 193);;
  display: flex;
  align-items: center;
  width: 100%;
  position:sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  margin: 3px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.p-img {
  width: 100%;
  transition: all 2s ease;
}

.p:hover .p-img {
  transform: translateY(-39%);
}

@media (max-width: 500px) {
  .p {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}